:root {
  --panel-header-height: 3vh;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  min-height: 0;

  border-right-width: 1px;
}

.item {
  display: flex;
  flex-direction: column;

  min-height: var(--panel-header-height);

  cursor: pointer;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.item[data-state='closed'] {
  flex: 0 0 var(--panel-header-height);
}

.item[data-state='open'] {
  flex: 1 1 0;
  min-height: 0;
}

.title {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  align-items: center;
  gap: calc(var(--spacing) * 1);

  font-size: 0.8rem;

  width: 100%;
  height: var(--panel-header-height);
  min-height: var(--panel-header-height);
  max-height: var(--panel-header-height);

  border-bottom-width: 1px;
  border-radius: 0;

  padding: 0.5rem;

  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.item[data-state='open'] .title {
  border-bottom-color: transparent;
}

.title svg {
  transform: rotate(-90deg);
}

.title[data-state='open'] svg {
  transform: rotate(-180deg);
}

.content {
  width: 100%;

  min-height: 0;
  height: 100%;
  max-height: 100%;

  padding: 1px;
  overflow-y: auto;
}
