.switcherContainer {
  flex: 1 1 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  border-right-width: 1px;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
