.item {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1);
  cursor: pointer;
  padding: 0.2rem 0;
}
.item:focus-visible,
.item[data-focused] {
  box-shadow: 0 0 0 2px var(--color-sidebar-ring) inset;
  border-radius: 4px;
  z-index: 2;
  outline: none;
}
.item[data-selected] {
  background: var(--color-sidebar-accent);
  color: var(--color-sidebar-accent-foreground);
}
.item:hover:not([data-selected]) {
  background: var(--color-secondary);
  color: var(--color-sidebar-foreground);
}

.icons {
  display: flex;
  gap: calc(var(--spacing) * 1);
}
.chevron {
  transition: transform 0.2s;
}
.chevron[data-state='open'] {
  transform: rotate(90deg);
}
.chevron[data-state='closed'] {
  transform: rotate(0deg);
}

.label {
  display: flex;
  gap: calc(var(--spacing) * 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
